<p>
  Dodaj produkt
</p>
<form>
  <div class="col-md-6">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Nazwa</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Kategoria</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>
  <div class="row">
    <p>Wartości odżywcze w 100g</p>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Wartość energetyczna (kcal)</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Białko (g)</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Tłuszcz (g)</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Węglowodany (g)</label>
    <div class="col-4">
      <input class="form-control" type="text" id="example-text-input">
    </div>
  </div>
</div>
<div class="col-md-6">
  Kolumna
</div>
  <button type="submit" class="btn btn-primary">Zapisz</button>

</form>
