<div class="wrapper">

  <nav id="sidebar" [ngClass]="{'active':activeSidebar}">
    <div class="sidebar-header">
      <h3>VICTU ZONA</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li appCollapse>
        <a routerLink="/recipe" routerLinkActive="active" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Przepisy</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a>Śniadanie</a>
          </li>
          <li>
            <a>Obiad</a>
          </li>
          <li>
            <a>Kolacja</a>
          </li>
          <li>
            <a>Przekąska</a>
          </li>
          <li>
            <a>Deser</a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a routerLink="/product" routerLinkActive="active">Produkty</a>
      </li>
      <li class="active">
        <a>Kalkulator</a>
      </li>
    </ul>
  </nav>
  <div id="content" class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span (click)="openSidebar()">MENU</span>
        </button>

      </div>
     
    </nav>
    <router-outlet></router-outlet>

  </div>


</div>
