<div class="wrapper">

  <nav id="sidebar" [ngClass]="{'active':activeSidebar}">
    <div class="sidebar-header">
      <h3>COGNITO</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a>Aktywności</a>
      </li>
      <li>
        <a>O mnie</a>
      </li>
      <li appCollapse>
        <a data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Słowniki</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a>Page 1</a>
          </li>
          <li>
            <a>Aktywności</a>
          </li>
          <li>
            <a>Kategorie aktywności</a>
          </li>
        </ul>
      </li>
      <li>
        <a>Portfolio</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </nav>
  <div id="content" class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span (click)="openSidebar()">MENU</span>
        </button>

      </div>

    </nav>


  </div>


</div>
